// Variable
@import '_variables';

// ----------------------------------------------------
//  Card
// ----------------------------------------------------

.card {
    border: none;
    border-radius: $border-radius-s;
    // box-shadow: 0 2px 4px 0 rgba($color-n-9, 0.05);
    margin: 0;
    height: 100%;

    .card-body {
        padding: 1.5rem;
    }
}

.card-wrap {
    display: grid;
    gap: 30px;
}

// ----------------------------------------------------
//  Integration Card
// ----------------------------------------------------

.channel-list {
    @include columns(3, 2, 1);
    gap: 24px;

    .channel-card {
        border: 1px solid $color-n-4;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .card-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: none;
                background-color: $color-n-1;
                margin-bottom: 1.5rem;
        
                .channel-icon {
                    width: 48px;
                    height: 48px;
        
                    img {
                        width: 100%;
                    }
                }
    
                .channel-status {
                    text-align: right;
                }
            }
    
            .card-bottom {
                display: flex;
                flex-direction: column;
    
                .channel-display-name {
                    font-family: $font-title;
                    font-size: 1.25rem;
                    font-weight: 500;
                    list-style: 1.25;
                    letter-spacing: 0.01em; // 1%
                    margin-bottom: 0;
                }
    
                .channel-category {
                    font-size: 0.875rem;
                    line-height: 1.43;
                    letter-spacing: 0.01em; // 1%
                    color: $color-n-7;
                }
            }
        }
    }
}
