// ----------------------------------------------------
//  @Import
// ----------------------------------------------------

@import 'variables'; // Variable
@import 'mixin';     // Mixin

// ----------------------------------------------------
//  General
// ----------------------------------------------------

* {
    font-family: $font-content;
    -webkit-font-smoothing: antialiased;
}

body {
	font-size: 16px;
    color: $color-n-10;
    background-color: $color-n-1;
}

// ----------------------------------------------------
//  Fonts
// ----------------------------------------------------

// Heading

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-title;
    font-weight: 600;
	letter-spacing: 0.02em; // 2%
    line-height: 1.25;
	color: $color-n-10;
}

h1, .h1 {
    @include h1();
}

h2, .h2 {
    @include h2();
}

h3, .h3 {
    @include h3();
}

h4, .h4 {
    @include h4();
}

h5, .h5 {
    @include h5();
}

h6, .h6 {
    @include h6();
}

// Paragraph

p {
    font-family: $font-content;
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.02em; // 2%
    color: $color-n-10;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		font-size: 1rem;
	}
}

.has-x-large-font-size {
	font-size: 1.875rem !important;

	@media screen and (max-width: $grid-breakpoints-xl) {
		font-size: 1.5rem !important;
	}
}

.has-large-font-size {
	font-size: 1.5rem !important;

	@media screen and (max-width: $grid-breakpoints-xl) {
		font-size: 1.25rem !important;
	}
}

.has-regular-font-size {
	font-size: 1.125rem !important;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		font-size: 1rem !important;
	}
}

.has-small-font-size {
	font-size: 1rem !important;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		font-size: 0.875rem !important;
	}
}

// ----------------------------------------------------
//  Background Color
// ----------------------------------------------------

.bg-green {
    background-color: $color-bg-green;
}

.bg-blue {
    background-color: $color-bg-blue;
}

.bg-orange {
    background-color: $color-bg-orange;
}

// ----------------------------------------------------
//  Links
// ----------------------------------------------------

// General Link

.site-main {
	
	a {
		text-decoration: none;
		color: $color-synctify;
		transition: 0.3s;

		&:hover {
			color: $color-gray-green;
			text-decoration: underline;
		}
	}	
}

// Link Button

.link {
	
	a {
		display: flex;
		align-items: center;
		font-family: $font-title;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 2;
		color: $color-n-10;
		transition: 0.3s;
	}
	
	// with Icon
	
	&.style-icon-left,
	&.style-icon-right {
		
		a {
			&:hover {
				text-decoration: none;
				color: $color-gray-green;
			}
			
			&::before {
				@include ti();
				font-size: 1.5rem;
				line-height: 1;
			}
		}
	}
	
	&.style-icon-left {
		
		a {
			&::before {
				margin-right: 5px;
			}
		}
	}
	
	&.style-icon-right {
		
		a {
			&::before {
				order: 1;
				margin-left: 5px;
			}
		}
	}
	
	&.style-icon-right.icon-arrow-right {
		
		a {
			
			&::before {
				content: "\ea1f";
				position: relative;
				left: 0;
				transition: 0.3s;
			}
			
			&:hover {
				
				&::before {
					position: relative;
					left: 5px;
				}
			}
		}
	}
}


// ----------------------------------------------------
//  Buttons
// ----------------------------------------------------

.cta-btn {
		
	// General Styling

	a {
		display: flex !important;
    	align-items: center;
		font-family: $font-title;
		font-weight: 500;
		line-height: 1 !important;
		letter-spacing: 0.02em; // 2%
		border: 2px solid $color-synctify;
		border-radius: $border-radius-s;
		color: $color-n-1;
		background-color: $color-synctify !important;
		box-shadow: $box-shadow;
		transition: 0.3s;

		&:hover {
			text-decoration: none;
			border-color: $color-gray-green;
			background-color: $color-gray-green !important;
		}
	}

	// Size

	&.size-small {

		a {
			font-size: 1rem;
			padding: 15px 20px;
		}
	}

	&.size-medium {

		a {
			font-size: 1.125rem;
			padding: 16px 30px;
		}
	}

	// Style

	&.style-outline {

		a {
			color: $color-synctify;
			background-color: transparent !important;

			&:hover {
				color: $color-gray-green;
				border-color: $color-gray-green;
			}
		}
	}
	
	// Icon
	
	&.style-icon-left,
	&.style-icon-right {
		
		a {
			
			&::before {
				font-family: "tabler-icons" !important;
				font-size: 1.5rem;
				line-height: 1;
			}
		}
	}
	
	&.style-icon-left {
		
		a {
			&::before {
				margin-right: 5px;
			}
		}
	}
	
	&.style-icon-right {
		
		a {
			&::before {
				order: 1;
				margin-left: 5px;
			}
		}
	}
	
	&.icon-arrow-right {
		
		a {
			&::before {
				content: "\ea1f";
			}
		}
	}
}

// Contact Only

button.wpforms-submit {
	
	--wpforms-button-size-font-size: 1.125rem;
	--wpforms-button-size-height: auto;
	--wpforms-button-text-color: #{$color-n-1};
	--wpforms-button-background-color: #{$color-synctify};
	--wpforms-button-border-radius: #{$border-radius-s};
	
	font-family: $font-title !important;
	line-height: 1;
	letter-spacing: 0.02em; // 2%
	border: 2px solid $color-synctify;
	box-shadow: $box-shadow;
	padding: 16px 30px !important;
	transition: 0.3s;

	&:hover {
		border-color: $color-gray-green;
		--wpforms-button-background-color: #{$color-gray-green};
	}
}


// Navigation Only

.nav-btn {
	
	a {
		font-family: $font-title;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1 !important;
		color: $color-n-1 !important;
		background-color: $color-synctify !important;
		padding: 15px 20px !important;
		border: 1px solid $color-synctify;
		border-radius: $border-radius-s;
		box-shadow: $box-shadow;
		white-space: nowrap;
		transition: 0.3s;
		
		&:hover {
			color: $color-n-1 !important;
			background-color: $color-gray-green !important;
		}
	}
	
	&.style-outline {
		
		a {
			border: 1px solid $color-celadon-green;
			background-color: transparent !important;
		}
	}
	
	&.align-center {
		
		a {
			text-align: center;
		}
	}
}

@media screen and (max-width: $grid-breakpoints-xl) {
	
	.nav-btn {
		
		a {
			padding: 12px 15px !important;
		}
		
		&.align-center {
			
			a {
				font-size: 1.125rem !important;
				padding: 18px 15px !important;
			}
		}
	}
}

// ----------------------------------------------------
//  Customized Components
// ----------------------------------------------------

@import 'component/block';      // Blocks
@import 'component/card';       // Cards
@import 'component/footer';     // Footer
@import 'component/form';       // Forms
@import 'component/navigation'; // Navigation
@import 'component/section';    // Sections

// ----------------------------------------------------
//  Customized Layouts
// ----------------------------------------------------

@import 'layout/about';        // About Us
@import 'layout/contact';      // Book a Demo
@import 'layout/fulfillment';  // Fulfillment
@import 'layout/grid';         // Grid System
@import 'layout/home';         // Homepage
@import 'layout/integrations'; // Integrations
@import 'layout/legal';        // Legal
@import 'layout/oms';          // OMS
