* {
  font-family: "Lato", "Noto Sans SC", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #262626;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Outfit", "Noto Sans SC", sans-serif;
  font-weight: 600;
  line-height: 1.25;
  color: #262626;
}

h1, .h1 {
  font-size: 72px;
}

h2, .h2 {
  font-size: 60px;
}

h3, .h3 {
  font-size: 48px;
}

h4, .h4 {
  font-size: 36px;
}

h5, .h5 {
  font-size: 24px;
}

h6, .h6 {
  font-size: 20px;
}

.bg-green {
  background-color: #EBF5F1;
}

.bg-blue {
  background-color: #EFF1F7;
}

.bg-orange {
  background-color: #FDF0EA;
}

.filter-wrap {
  position: sticky;
  top: 48px;
  left: 0;
  z-index: 0;
  padding: 0;
}
.filter-wrap .filter-item {
  max-width: 260px;
  list-style: none;
}
.filter-wrap .filter-item .filter-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #595959;
  background-color: transparent;
  border-radius: 0.3rem;
  padding: 0.625rem 0.9375rem;
  transition: 0.3s;
}
.filter-wrap .filter-item .filter-link:hover {
  color: #262626;
}
.filter-wrap .filter-item .filter-link.active {
  color: #262626;
  background-color: #EFF1F7;
}
.filter-wrap .filter-item .filter-link i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}

.keyword-hide,
.category-hide,
.api-hide {
  display: none;
}

.search-wrap {
  margin-bottom: 1.5rem;
}
.search-wrap .form-group {
  position: relative;
}
.search-wrap .form-group i {
  position: absolute;
  left: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #262626;
  opacity: 0.25;
}
.search-wrap .form-group .form-control {
  color: #262626;
  padding: 0.625rem 0.875rem 0.625rem 2.75rem;
  border: 1px solid rgba(38, 38, 38, 0.25);
  border-radius: 4px;
}
.search-wrap .form-group .form-control:focus {
  box-shadow: unset;
}
.search-wrap .form-group .form-control::placeholder {
  color: #262626;
  opacity: 0.25;
}
.search-wrap .not-found-result {
  margin-top: 1.5rem;
}

#all-channels {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 1199.98px) {
  #all-channels {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  #all-channels {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  border: none;
  border-radius: 4px;
  margin: 0;
  height: 100%;
}
.card .card-body {
  padding: 1.5rem;
}

.card-wrap {
  display: grid;
  gap: 30px;
}

.channel-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 1199.98px) {
  .channel-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .channel-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.channel-list .channel-card {
  border: 1px solid #F0F0F0;
}
.channel-list .channel-card .card-body {
  display: flex;
  flex-direction: column;
}
.channel-list .channel-card .card-body .card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: #FFFFFF;
  margin-bottom: 1.5rem;
}
.channel-list .channel-card .card-body .card-top .channel-icon {
  width: 48px;
  height: 48px;
}
.channel-list .channel-card .card-body .card-top .channel-icon img {
  width: 100%;
}
.channel-list .channel-card .card-body .card-top .channel-status {
  text-align: right;
}
.channel-list .channel-card .card-body .card-bottom {
  display: flex;
  flex-direction: column;
}
.channel-list .channel-card .card-body .card-bottom .channel-display-name {
  font-family: "Outfit", "Noto Sans SC", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  list-style: 1.25;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}
.channel-list .channel-card .card-body .card-bottom .channel-category {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: #8C8C8C;
}
.channel-list .channel-card .card-body .card-tags {
  padding: 0;
  margin: 24px 0 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.channel-list .channel-card .card-body .card-tags .tag-item {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8125rem;
  line-height: 1;
  background-color: #EFF1F7;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
