// ----------------------------------------------------
//  @Import
// ----------------------------------------------------

// Variable
@import '_variables';

// Mixin
@import '_mixin';

// ----------------------------------------------------
//  General
// ----------------------------------------------------

// General

* {
    font-family: $font-content;
    -webkit-font-smoothing: antialiased;
}

body {
    color: $color-n-10;
    background-color: $color-n-1;
}

// Fonts

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-title;
    font-weight: 600;
    line-height: 1.25;
    color: $color-n-10;
}

h1, .h1 {
    font-size: 72px;
}

h2, .h2 {
    font-size: 60px;
}

h3, .h3 {
    font-size: 48px;
}

h4, .h4 {
    font-size: 36px;
}

h5, .h5 {
    font-size: 24px;
}

h6, .h6 {
    font-size: 20px;
}

// Background Color

.bg-green {
    background-color: $color-bg-green;
}

.bg-blue {
    background-color: $color-bg-blue;
}

.bg-orange {
    background-color: $color-bg-orange;
}

// ----------------------------------------------------
//  All Channels
// ----------------------------------------------------

// Filter

.filter-wrap {
    position: sticky;
    top: 48px;
    left: 0;
    z-index: 0;
    padding: 0;

    .filter-item {
        max-width: 260px;
        list-style: none;

        .filter-link {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em; // 2%
            text-decoration: none;
            color: $color-n-8;
            background-color: transparent;
            border-radius: 0.3rem;
            padding: 0.625rem 0.9375rem;
            transition: 0.3s;

            &:hover {
                color: $color-n-10;
            }

            &.active {
                color: $color-n-10;
                background-color: $color-bg-blue;
            }

            i {
                font-size: 1.5rem;
                margin-right: 0.75rem; 
            }
        }
    }
}

.keyword-hide,
.category-hide,
.api-hide {
    display: none;
}

// Search Bars

.search-wrap {
    margin-bottom: 1.5rem;

    .form-group {
        position: relative;

        i {
            position: absolute;
            left: 0.875rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25rem;
            color: $color-n-10;
            opacity: .25;
        }

        .form-control {
            color: $color-n-10;
            padding: 0.625rem 0.875rem 0.625rem 2.75rem;
            border: 1px solid rgba($color-n-10, .25);
            border-radius: $border-radius-s;

            &:focus {
                box-shadow: unset;
            }

            &::placeholder {
                color: $color-n-10;
                opacity: .25;
            }
        }
    }

    .not-found-result {
        margin-top: 1.5rem
    }
}

// Customized Card Layout

#all-channels {
    @include columns(3, 2, 1);
    gap: 24px;
}

// ----------------------------------------------------
//  Customized Component
// ----------------------------------------------------

@import '_card';
