// ----------------------------------------------------
//  @Import
// ----------------------------------------------------

@import '../variables'; // Variable
@import '../mixin';     // Mixin

// ----------------------------------------------------
//  Hero
// ----------------------------------------------------

body.page-integrations {
	
	.hero-section {
		display: flex;
    	align-items: center;
		background-position: center center;
    	background-size: cover;
		background-image: url("https://assets.synctify.net/www/static/2023/11/22071127/hero-integrations.png");
		
		@media screen and (max-width: $grid-breakpoints-sm) {
			padding: 144px 0 72px;
		}
		
		h1 {
			margin-bottom: 30px;
		}
		
		p {
			margin-bottom: 100px;
			
			@media screen and (max-width: $grid-breakpoints-sm) {
				margin: 0;
			}
		}
		
		.row {
			text-align: center;
    		justify-content: center;
			
			@media screen and (max-width: $grid-breakpoints-xl) {
				padding: 0 10%;
			}
			
			@media screen and (max-width: $grid-breakpoints-sm) {
				padding: 0;
			}
		}
	}
}

// ----------------------------------------------------
//  All Channels
// ----------------------------------------------------

// Filter

.filter-wrap {
    position: sticky;
    top: 89px;
    left: 0;
    z-index: 0;
	margin: 0;
    padding-top: $gutter-width;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		display: none;
	}

    .filter-item {
        max-width: 260px;
        list-style: none;

        .filter-link {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em; // 2%
            text-decoration: none;
            color: $color-n-8;
            background-color: transparent;
            border-radius: $border-radius-s;
            padding: 0.625rem 0.9375rem;
            transition: 0.3s;

            &:hover {
                color: $color-n-10;
            }

            &.active {
                color: $color-n-10;
                background-color: $color-bg-blue;
            }

            i {
                font-size: 1.5rem;
                margin-right: 0.75rem; 
            }
        }
    }
}

.keyword-hide,
.category-hide,
.api-hide {
    display: none;
}

// Search Bars

.search-wrap {
	position: sticky;
	top: 89px;
	padding: $gutter-width 0;
	background-color: $color-n-1;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		top: 71px;
	}

    .form-group {
        position: relative;

        i {
            position: absolute;
            left: 0.875rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.25rem;
            color: $color-n-10;
            opacity: .25;
        }

        .form-control {
			width: 100%;
            color: $color-n-10;
			background-color: $color-n-1;
            padding: 0.625rem 0.875rem 0.625rem 2.75rem;
            border: 1px solid rgba($color-n-10, .25);
            border-radius: $border-radius-s;

            &:focus {
                box-shadow: unset;
            }

            &::placeholder {
                color: $color-n-10;
                opacity: .25;
            }
        }
    }

    .not-found-result {
        margin-top: 1.5rem
    }
}

// ----------------------------------------------------
//  Customized Layout
// ----------------------------------------------------

// Responsive Layout

.integration-wrap {
	display: flex;
	flex-direction: row;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		flex-direction: column;
	}
	
	.integration-aside {
		width: 25%;
		
		@media screen and (max-width: $grid-breakpoints-xl) {
			width: 100%;
			margin-bottom: $gutter-width;
		}
	}
	
	.integration-main {
		width: 75%;
		
		@media screen and (max-width: $grid-breakpoints-xl) {
			width: 100%;
		}
	}
}


// Customized Card Layout

#all-channels {
    @include columns(3, 2, 1);
    gap: 1.5rem;
	
	@media screen and (max-width: $grid-breakpoints-xl) {
		gap: 0.75rem;
	}
}

// ----------------------------------------------------
//  Universal API
// ----------------------------------------------------

body.page-integrations {
	
	#universal-api {
		
		p {
			margin-bottom: 70px;
		}
		
		.row {
			text-align: center;
    		justify-content: center;
		}
	}
}
